*{
    text-align: center;
    align-items: center;
    align-content: center;
}
table{
    margin: 5%;
    align-self: center;

}
#image-meow {
    width: 25%;
    height: 25%;
}
body{
    display: flex;
    flex-direction: column;
}